@font-face {
    font-family: RobotoMono;
    src: url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
}

body {
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
}

.is-active{
    font-weight: bold;
    font-size: 50px;
    font-family: 'Roboto Mono', monospace;
}

#poster{
    max-width: 150px;
}

#test img{
    padding-bottom: 30px;
}

#test p{
    padding-bottom: 30px;
}

#doc-list h2{
    padding-top: 25px;
}

#results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.input{
    width: 20%;
}

.secondary-input{
    padding-top: 1rem;
}